<h1>Add Event</h1>

<form method="post">
    <label for="name"> Name of the Event:</label><br />
    <input name="name" type="text" id="name"/><br />
    <label for="desc"> Description:</label><br />
    <input name="desc" type="text" id="desc"/><br />
    <input type="submit" value="Add Event" />
</form>

